[MASTER]
ignore=.git,__pycache__,.pytest_cache,.tmp_ref_site
jobs=0

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    broad-exception-caught

[FORMAT]
max-line-length=120
